* {
	padding: 0px;
	margin: 0px;
	border: 0;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	min-width: 100%;
}

body {
	line-height: 1;
	font-size: 0.875rem;
	font-family:
		ElsevierSans,
		Arial,
		Helvetica,
		Roboto,
		Lucida Sans Unicode,
		Microsoft Sans Serif,
		Segoe UI Symbol,
		STIXGeneral,
		Cambria Math,
		Arial Unicode MS,
		sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body._lock {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
}
input,
button,
textarea {
	font-family:
		ElsevierSans,
		Arial,
		Helvetica,
		Roboto,
		Lucida Sans Unicode,
		Microsoft Sans Serif,
		Segoe UI Symbol,
		STIXGeneral,
		Cambria Math,
		Arial Unicode MS,
		sans-serif;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	color: inherit;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body._lock {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
}

[class*="__container"] {
	max-width: 80rem;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}
@media (max-width: 375px) {
	[class*="__container"] {
		padding-left: 5px;
		padding-right: 5px;
	}
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
	border: 1px solid #b5b5b5;
	border-radius: 5px;
	padding: 2px;
}
::-webkit-scrollbar-thumb {
	background: #b5b5b5;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary);
}
