.text {
	font-size: 14px;
	color: var(--text);
}
.description {
	font-size: 14px;
	color: var(--blue);
	position: relative;
	border-bottom: 2px solid transparent;
	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		background: var(--border-bottom);
		height: 2px;
		width: 0;
		transition: 0.3s ease;
	}
	&:hover {
		color: black;
		&::before {
			width: 150px;
		}
	}
}
